NODE_ENV=production
COOKIE_SECURE=false
PORT=5000

MONGO_URI=mongodb+srv://...

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

TELEGRAM_BOT_TOKEN=

CLIENT_URL=https://yourdomain.com

DEFAULT_FOUNDATION_ID=
